/* This is the looks of the website. The body sets font and center for all text */
body{
  background-color: #f5f0d9;
  font-family: Arial, sans-serif;
  text-align: center;
}

/* This one is for the main site's title */
h1{
  color: #9e2a2b;
  margin-bottom: 5px;
}

/* Navigation bar's decoration for Home, Survey, Places, Food */
nav{
  margin-top: 10px;
}
nav a{
  margin: 0 15px;
  text-decoration: none;
  color: #e09f3e;
  font-weight: bold;
  font: size 18px;
}

nav a:hover{
  color: #ffcc66;
}

/* Buttons */
button{
  padding: 15px 25px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover{
  background-color: #eee;
}

/* Hero section is the main section with the pictures the introduction to our site */
.hero {
  height: 35vh; /* fills 35% of the viewport height. How big the picture is */
  background-image: 
    linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url('travelFoodimg.webp'); /* background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.7);

  display: flex;
  flex-direction: column;
  justify-content: center; /* vertically centers the content */
  align-items: center;     /* horizontally centers the content */
  text-align: center;
  padding: 50px 30px;     /* space inside hero */
  margin-bottom: 40px;    /* space between hero and features */
}

.hero h2{
  font-size: 36px;
  margin-bottom: 15px;
}

.hero p{
  font-size: 18px;
  margin-bottom: 20px;
}

/* The little information cards for features. What the site is about */
.features{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
  flex-wrap: wrap;
}

.feature{
  background-color: #eee;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
}

.feature h3{
  margin-bottom: 10px;
}

.feature p{
  font-size: 14px;
}

/* This is basically our info for who did the project. Footer */
footer{
  position: relative;
  top: 36px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #222;
  color: white;
  opacity: 0.8;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  border-top: 2px solid #555;
}
